{% assign emptyarray = "" | split: "," %}
{% assign data = site.data[include.data]
  | default: site[include.data]
  | default: emptyarray
  | data_filter: include.filter
%}

{% assign groupby = include.groupby | default: "date" %}
{% if groupby == "date" %}
  {% assign groups = data
    | group_by_exp: "d", "d.date | date: '%Y'"
    | sort: "name"
    | reverse
  %}
{% else %}
  {% assign groups = data
    | group_by_exp: "d", "d[groupby]"
    | sort: "name"
  %}
{% endif %}

{% for group in groups %}
  {% assign data = group.items %}

  {% if groups.size > 1 %}
    {{--}}<h3 id="{{ group.name }}">{{ group.name }}</h3>
    {% if groupby == "date" %}
      {% assign data = data | sort: "date" | reverse %}
    {% else %}
      {% assign data = data | sort: "title" %}
    {% endif %}
  {% endif %}

  {% for d in data %}
    {% assign style = d.style | default: include.style %}

    {%
      include {{ include.component | append: ".html" }}
      affiliation=d.affiliation
      author=d.author
      authors=d.authors
      buttons=d.buttons
      caption=d.caption
      content=d.content
      date=d.date
      description=d.description
      excerpt=d.excerpt
      height=d.height
      icon=d.icon
      id=d.id
      image=d.image
      last_modified_at=d.last_modified_at
      link=d.link
      location=d.location
      lookup=d.lookup
      name=d.name
      publisher=d.publisher
      repo=d.repo
      role=d.role
      slug=d.slug
      style=style
